#map {
    width: 100%;
    height: 100%;
}

#menu {
    position: absolute;
    width: 12em;
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-bottom: 10px;
    z-index: 2
}

#menu ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

table {
    overflow: auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;

    outline: none;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: #ff4743;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.yellow {
    background-color: gold;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.frame {
    opacity: 0.3;

    height: 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);

    color: #fff;
    display: inline-block;
    padding: 0;
    margin: 0;
}

image.in-frame-button {
    height: 40px;
}

button.green {
    background-color: limegreen;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

.username-page-container .username-submit {
    margin-top: 10px;
}

.score-list {
    height: 75%;
    width: 100%;
    overflow: auto;
}

.score-container {
    width: 25%;
    position: absolute;
    height: 40%;
    left: 75%;
    bottom: 0;
    opacity: 0.8;
    padding: 0;
    font-family: Courier, sans-serif;
    font-size: 14px;
    background: white;
}

.owns-container {
    width: 35%;
    position: absolute;
    height: 40%;
    left: 40%;
    bottom: 0;
    opacity: 0.8;
    padding: 0;
    font-family: Courier, sans-serif;
    font-size: 14px;
    background: white;
}

.balloon-content {
    text-align: center;
    max-width: 150px;
    overflow-x: auto;
}

.turnof-container {
    width: 10%;
    position: absolute;
    height: 20%;
    left: 90%;
    top: 0;
    /*padding: 5px;*/
    /*text-align: center;*/
    font-family: Courier, sans-serif;
    font-size: 14px;
    background: white;
    opacity: 0.8;
}

.offers-container {
    width: 25%;
    position: absolute;
    height: 40%;
    left: 75%;
    bottom: 0;
    opacity: 0.8;
    padding: 0;
    font-family: Courier, sans-serif;
    font-size: 14px;
    background: white;
    visibility: hidden;
}

.offers-list {
    height: 80%;
    position: absolute;
    padding: 5px;
    overflow: auto;
    display: block;
}

.offer-item {
    text-align: center;
    max-height: 55%;

}

.auction-container {
    width: 35%;
    position: absolute;
    height: 40%;
    left: 40%;
    bottom: 0;
    opacity: 0.8;
    padding: 0;
    font-family: Courier, sans-serif;
    font-size: 14px;
    background: white;
    visibility: hidden;
}

.owns-buttons {
    position: absolute;
    left: calc(40% + 5px);
    bottom: calc(40% - 52px);
    padding: 5px;
}

.score-buttons {
    position: absolute;
    left: 75%;
    bottom: calc(40% - 52px);
    padding: 5px;
}

.score-list table {
    width: 100%;
    margin: 5px;
}

.score-list tr {
    width: inherit;

}

.chat-container {
    width: 40%;
    position: absolute;
    height: 40%;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    padding: 0;
    font-family: Courier, sans-serif;
    font-size: 14px;
    background: white;
}

#frames ul {

    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    /*overflow-y: ;*/
    padding: 0 20px 0 20px;
    height: calc(50%);
}

#frames #messageForm {
    padding: 20px;
}

.dropdown-menu {
    top: auto;
    left: auto;
    overflow: auto;
    max-height: 240px;
}

#frames ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#frames ul li p {
    margin: 0;
}

#frames .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#frames .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#frames .chat-message {
    padding-left: 68px;
    position: relative;
}

#frames .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

img {
    height: 40px;
}

#frames .chat-message img {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#frames .chat-message span {
    color: #333;
    font-weight: 600;
}

#frames .chat-message p {
    color: #43464b;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

div.input-group.clearfix {
    width: 100%;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.small-header {
    padding: 5px;
}

.turnof-header {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ececec;
}

#turnof-img {
    position: absolute;
    height: 50%;
    padding: 5px;
    left: 25%;

}

#turnof-name {
    position: absolute;
    text-align: center;
    bottom: 5px;
    height: 15%;
    width: 100%;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.turnof-header h3 {
    margin: 0;
    font-weight: 200;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}

@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    #frames ul {
        height: calc(100% - 120px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }
}